.baralho {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 4vh;
}

.baralho div div {
  border: 0.3em solid rgb(230, 225, 201);
  border-radius: 0.3em;

  /* margin: 2vh 2vw; */
  padding: 4vh 4vw;
}

.eachCard {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 2vh 7vw;
  width: 10vw;
}
